* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainhome {
  background-image: url(./../photo/fond1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 150px;
}
.mainhome_title {
  font-size: 3.2rem;
  padding:10px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 0.9;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.mainhome_link {
  text-decoration: none;
  color: white;
  background-color: #257cff;
  padding: 15px 30px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
}
.gamehome {
  background-image: url(./../photo/fond2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.gamestart {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.658);
  display: flex;
  justify-content: center;
  align-items: center;
}
#start {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.658);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  border: none;
}
.gameplay {
  display: none;
}
.top {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  z-index: 999;
}
.game {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.milk {
  position: relative;
}
.milk .wavy {
  position: absolute;
  z-index: 10;
  top:-400px;
  
}
.milk .wavy:first-child {
  top: 350px;
  left: -400px;
}
.milk .wavy:nth-child(2) {
  top: 300px;
  left: -280px;
}
.milk .wavy:nth-child(3) {
  top: 350px;
  left: -150px;
}
.milk .wavy:nth-child(4) {
  top: 300px;
  left: -55px;
}
#cow {
  width: 1500px;
  transform: translate(-340px, -800px);
  position: absolute;
  z-index: 900;
}
#tonneau {
  bottom:0;
  left:-40px;
  width: 500px;
  position:absolute;
  z-index: 100;
}
#fond_tonneau {
  width: 600px;
  left:-80px;
  position:absolute;
  z-index: 1;
  bottom:191px
}
#container{
  position: absolute;
  bottom:150px;
  z-index:25;


}


#water {
  background-image: url("./../photo/vague.png");
  position: absolute;
  bottom: 0px;
  width: 500px;
  height: 5em;
  -webkit-transition: all 15s ease-out;
  -moz-transition: all 15s ease-out;
  -o-transition: all 15s ease-out;
  transition: all 15s ease-out;
}
.wavy {
  position: relative;
  width: 800px;
  height: 200px;
  overflow: hidden;
  transform: rotate(90deg);
  animation: transi 4s;
  z-index: 10;
}
.wavy:before {
  content: "aaaaaaaaaaaaaa";
  position: absolute;
  font-size: 6em;
  text-decoration-style: wavy;
  text-decoration-color: #fff;
  text-decoration-line: underline;
  top: -42px;
  color: transparent;
  animation: animate 3s linear infinite;
}

@keyframes transi {
  0% {
    transform: translateY(-300px) rotate(90deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes animate {
  0% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(150px);
  }
}
@media screen and (max-width:400px){

  .milk .wavy:nth-child(3) {
    top: 350px;
    left: -180px;
  }
  .milk .wavy:nth-child(4) {
    top: 350px;
    left: -100px;
  }
  #cow {
    width: 1300px;
    transform: translate(-280px, -700px);
    position: absolute;
    z-index: 900;
  }
  #tonneau {
    bottom:0;
    left:-60px;
    width: 500px;
    position:absolute;
    z-index: 100;
  }
  #fond_tonneau {
    width: 600px;
    left:-100px;
    position:absolute;
    z-index: 1;
    bottom:191px
  }

}
@media screen and (max-width:320px){
  .milk .wavy:first-child {
    top: 300px;
    left: -390px;
  }
  .milk .wavy:nth-child(2) {
    top: 250px;
    left: -310px;
  }
  .milk .wavy:nth-child(3) {
    top: 250px;
    left: -220px;
  }
  .milk .wavy:nth-child(4) {
    top: 250px;
    left: -160px;
  }
  #cow {
    width: 1000px;
    transform: translate(-200px, -500px);
    position: absolute;
    z-index: 900;
  }
  #tonneau {
    bottom:0;
    left:-80px;
    width: 500px;
    position:absolute;
    z-index: 100;
  }
  #fond_tonneau {
    width: 600px;
    left:-120px;
    position:absolute;
    z-index: 1;
    bottom:191px
  }


}
@media screen and (max-height:750px){
  .milk .wavy:first-child {
    top: 200px;
  }
  .milk .wavy:nth-child(2) {
    top: 200px;
  }
  .milk .wavy:nth-child(3) {
    top: 200px;
  }
  .milk .wavy:nth-child(4) {
    top: 200px;
  }
 
}

@media screen and (min-width:750px){
  .milk .wavy:first-child {
    top: 300px;
    left: -220px;
  }
  .milk .wavy:nth-child(2) {
    top: 250px;
    left: -100px;
  }
  .milk .wavy:nth-child(3) {
    top: 250px;
    left: 30px;
  }
  .milk .wavy:nth-child(4) {
    top: 250px;
    left: 130px;
  }
  #cow {
    width: 1500px;
    transform: translate(-150px, -800px);
    position: absolute;
    z-index: 900;
  }
  #tonneau {
    bottom:0;
    left:120px;
    width: 500px;
    position:absolute;
    z-index: 100;
  }
  #fond_tonneau {
    width: 600px;
    left:85px;
    position:absolute;
    z-index: 1;
    bottom:191px
  }
  .top div{
    font-size:2rem;
  }
}

@media screen and (min-width:1000px){
  .milk .wavy:first-child {
    top: 350px;
    left: -90px;
  }
  .milk .wavy:nth-child(2) {
    top: 300px;
    left: 25px;
  }
  .milk .wavy:nth-child(3) {
    top: 300px;
    left: 170px;
  }
  .milk .wavy:nth-child(4) {
    top: 300px;
    left: 280px;
  }
  #cow {
    width: 1600px;
    transform: translate(-50px, -900px);
    position: absolute;
    z-index: 900;
  }
  #tonneau {
    bottom:0;
    left:280px;
    width: 500px;
    position:absolute;
    z-index: 100;
  }
  #fond_tonneau {
    width: 600px;
    left:237px;
    position:absolute;
    z-index: 1;
    bottom:191px
  }
  .top div{
    font-size:2rem;
  }
}

@media screen and (min-width:1300px){
  .milk .wavy:first-child {
    top: 350px;
    left: 110px;
  }
  .milk .wavy:nth-child(2) {
    top: 300px;
    left: 230px;
  }
  .milk .wavy:nth-child(3) {
    top: 300px;
    left: 370px;
  }
  .milk .wavy:nth-child(4) {
    top: 300px;
    left: 480px;
  }
  #cow {
    width: 1600px;
    transform: translate(150px, -900px);
    position: absolute;
    z-index: 900;
  }
  #tonneau {
    bottom:0;
    left:480px;
    width: 500px;
    position:absolute;
    z-index: 100;
  }
  #fond_tonneau {
    width: 600px;
    left:445px;
    position:absolute;
    z-index: 1;
    bottom:191px
  }
  .top div{
    font-size:2rem;
  }
}

